@model MyJokesApp.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h1>Delete an Item</h1>

    <h3>Are you sure you want to Delete this item?</h3>
    <p>@Model.Name</p>
    <p>@Model.Price</p>

    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" class="btn btn-danger"/>
    </form>
</div>